@import "../../../assets/scss/utils/index.scss";

.information-card {
  padding: 1.5rem;
  article {
    background-color: #f6f5f5;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    p {
      color: var(--tp-theme-9);
      font-weight: 600;
    }

    .red {
      font-family: 'AztecaBoldIt', sans-serif;
      color: var(--tp-theme-8);
    }
    .green-strong {
      font-family: 'AztecaBoldIt', sans-serif;
      color: var(--tp-theme-1);
    }
    .green {
      font-family: 'AztecaSemiBold', sans-serif;
      color: var(--tp-theme-4);
      font-size: 14px;
    }
  }
}
