@import "../../assets/scss/utils/index.scss";

.ponentes_main {
  background-image: url("/assets/img/backgrounds/fondoLg.webp");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .content-ponentes {
    padding: 1.5rem;
  }
}
